<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">




    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Permission for reading external storage if targeting Android versions prior to Android 10 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:name=".CAApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_final_rounded_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_final_rounded_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleApp"
        tools:targetApi="31">


        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASf99uTm_MB0AxDKm7MrBYOY6-q1rA9t4" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.PetPamper.ChannelActivity"
            android:exported="false"
            android:label="@string/title_activity_channel"
            android:theme="@style/Theme.SampleApp" />

    </application>



</manifest>

